.price {
   background: #ffffff;
   &__title {
      font-style: italic;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;

      color: #ffffff;
      padding: 20px 40px;
      background: #615346;
      margin-bottom: 40px;

      position: relative;
      &:before {
         position: absolute;

         left: 40px;
         bottom: -20px;
         width: 0;
         height: 0;
         content: "";
         border-left: 15px solid transparent;
         border-right: 15px solid transparent;
         border-top: 20px solid #615346;
      }

      @include media-breakpoint-down(md) {
         padding: 20px 15px;
      }
   }
   &__list {
      font-size: 16px;
      margin-left: 20px;
      margin-right: 80px;
      margin-bottom: 15px;
      /* or 303% */

      color: #000000;

      @include media-breakpoint-down(lg) {
         margin-right: 40px;
      }

      @include media-breakpoint-down(md) {
         margin-right: 5px;
         margin-left: 5px;
         font-size: 14px;
      }

      // @include media-breakpoint-down(xs) {
      //    margin-right: 0px;
      //    margin-left: 0px;
      // }
   }

   &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;

      &:first-of-type {
         margin-top: 0;
      }
   }

   &__item-title {
   }

   &__item-separator {
      flex: 1 0;
      border-bottom: 1px dotted #000;
      height: 1em;
      margin-left: 10px;
      margin-right: 10px;
   }

   &__item-price {
      min-width: 50px;
      text-align: right;
   }

   &__right-bg {
      height: 400px;
      width: 100%;
      background: url("../img/price-photo.jpg") top no-repeat;
      background-size: cover;
   }
}
